* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.4;
  background: rgba(230, 200, 161, 0.575);
  height: 100vh;
  overflow-x: hidden;
}

.nav {
  background-image: linear-gradient(
    67deg,
    rgb(255, 255, 0) 0%,
    rgb(255, 0, 0) 74%
  );
  height: 3rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navCenter {
  padding-left: 15px;
}

.remove.navCenter {
  display: none;
}

.show.navCenter {
  display: block;
}

.back:focus {
  background: #edf2f8;
  border-radius: 3px;
}

.HymnIndexNav,.indexHymnContainerNav{
  display: none;
}

.nav-btn {
  background: none;
  border: 0;
  color: white;
}

.nav-btn:focus {
  outline: none;
}

.navImg {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.JFM {
  color: black;
  font-size: x-large;
  font-weight: bold;
  position: relative;
  bottom: 5px;
  padding-left: 5px;
}

/* toggle btn */
.switch-container {
  position: relative;
  display: inline-block;
  width: 3.5rem;
  height: 2rem;
  margin-right: 30px;
}

.switch-container input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-container .slider {
  --background: linear-gradient(to right, #090613ef, #18151f);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--background);
  transition: background-color 0.5s;
  border-radius: 30px;
}

.switch-container .slider::before {
  position: absolute;
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 15px -4px 0px 15px #f8ea27;
  background: var(--background);
  transition: transform 0.5s, box-shadow 0.5s;
}

.switch-container input:checked + .slider {
  background-color: #000;
}

.switch-container input:checked + .slider::before {
  transform: translateX(100%);
  box-shadow: inset 8px -4px 0px 0px #f8f8f4;
}

.toggle-btn {
  display: none;
}

.toggle-btn:focus {
  background: none;
  border: 0;
  outline: none;
}

.show.toggle-btn {
  display: block;
}

/* end toggle btn */

.container {
  max-width: 912px;
  margin: 0 auto;
  padding: 20px;
  background: url("HymnIcon/IMG-20210830-WA0074.jpg") center/cover fixed
    no-repeat;
  height: 100%;
}

.banner {
  padding: 20px;
  min-height: 100vh;
  display: none;
}

.show.background-image {
  display: block;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px;
}

.form-two {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px;
  display: none;
}

.selectedHymnContainer{
  padding: 10px;
  min-height: 100vh;
  display: none;
}

.site {
  margin-top: 70px;
  margin-left: 10px;
  font-size: 24px;
}

.vex {
  margin: 10px;
  white-space: pre-line;
  font-size: 24px;
}

.hymnTitCont{
  margin-bottom: 6%;
  margin-top: 6%;
  display: none;
  float: left;
  width: 100%;
  margin-right: 2%;
}

.hymnTitle{
  padding: 15px;
  border-bottom: 2px solid red;
  list-style: decimal;
}

.idxhymncont{
  display: none;
  margin-bottom: 6%;
  padding: 10px; 
  min-height: 100vh; 
  float: left;
  width: 100%;
  /* overflow-y: auto; */
  
}

.idxElement{
  margin-top: 70px;
  margin-left: 10px;
  font-size: 24px;
}



.lyricElement{
  margin: 10px;
  white-space: pre-line;
  font-size: 24px;
}

.dark-mode {
  background: #212121;
  color: white;
}

.inputIcon {
  width: 600px;
  margin-bottom: 10px;
  position: relative;
  transform: translateX(55px);
}

.warning {
  width: 50px;
  padding: 10px;
  position: absolute;
  bottom: 20px;
  transform: translateX(400px);
  display: none;
}

.number {
  max-width: 100%;
  padding: 10px;
}

.input {
  border: 0;
  width: 80%;
  padding: 20px;
  margin: 10px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
  background: #edf2f8;
}

.btn {
  padding: 20px;
  border: 0;
  border-radius: 10px;
  font-size: 20px;
  background: #edf2f8 !important;
  outline: none;
  cursor: pointer;
}

.hymnidx {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-direction: column;
}

.hymnindex {
  width: 100%;
}

.hymnnum {
  margin-left: 5px;
}

.result {
  white-space: pre-line;
  font-size: 20px;
}

.heading {
  margin-top: 20px;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: visible;
  transition: all 0.4s linear;
  z-index: 999;
}

.hide-preloader {
  z-index: -999;
  visibility: hidden;
}

.preload-image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.footer {
  background-image: linear-gradient(
    67deg,
    rgb(255, 255, 0) 0%,
    rgb(255, 0, 0) 74%
  );
  height: 3rem;
  display: grid;
  align-items: center;
  overflow: hidden;
  position: fixed;
  width: 100%;
  bottom: 0;
  transform: translateY(3px);
  clear: both;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.show.search {
  display: block;
}

.show.zoom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.zoom {
  display: none;
}

.zoomBtn {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.footerbtn {
  background: none;
  border: 0;
}

.footerbtn:focus {
  background-color: #f8f8f4;
}

.pen {
  display: none;
}

.bottomBar {
  width: 200px;
  height: 100px;
  position: relative;
  display: none;
}

.bannerBar {
  width: 200px;
  height: 100px;
}

.show.bottomBar {
  display: block;
}

.bar {
  display: flex;
  flex-direction: column;
  width: 200px;
  transform: translate(650px, 850px);
}

.about,
.exit {
  height: 50px;
  background: #212121 !important;
  color: white;
  cursor: pointer;
}

.Aboutsec {
  display: none;
  height: 100%;
}

.aboutHead {
  text-align: center;
  padding-top: 30px;
  margin-top: 40px;
}

.abouttext {
  font-size: 20px;
  padding: 20px;
  margin-top: 20px;
  text-align: justify;
}

button{
  background-color: transparent !important;
}


@media (max-width: 820px) {
  .container {
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .inputIcon {
    width: 600px;
  }

  .warning {
    width: 50px;
    transform: translateX(430px);
  }

  .result {
    font-size: 30px;
  }

  .bar {
    transform: translate(550px, 670px);
  }
}

@media (max-width: 768px) {
  .bar {
    transform: translate(500px, 520px);
  }
}

@media (max-width: 720px) {
  .bar {
    transform: translate(430px, 1050px);
  }
}

@media (max-width: 540px) {
  .bar {
    transform: translate(280px, 220px);
  }
}

@media screen and (max-width: 414px) and (max-height: 896px) {
  .bar {
    transform: translate(200px, 400px);
    width: 150px;
  }

  .number {
    transform: translateX(-65px);
    width: 500px;
  }

  .inputIcon {
    width: 370px;
  }

  .warning {
    transform: translateX(260px);
    width: 50px;
  }

  .result {
    font-size: 24px;
  }

  .text {
    width: 350px;
  }
}

@media screen and (max-width: 414px) and (max-height: 736px) {
  .inputIcon {
    width: 370px;
  }

  .number {
    transform: translateX(-65px);
    width: 500px;
  }

  .warning {
    transform: translateX(260px);
    width: 50px;
  }

  .text {
    width: 350px;
  }

  .bar {
    transform: translate(200px, 230px) !important;
    width: 150px;
  }

  .result {
    font-size: 24px;
  }
}

@media screen and (max-width: 412px) and (max-height: 915px) {
  .bar {
    transform: translate(180px, 400px) !important;
    width: 150px;
  }
  .number {
    transform: translateX(65px);
    width: 350px;
  }
  .warning {
    transform: translateX(350px);
    width: 50px;
  }
}

@media (max-width: 393px) {
  .bar {
    transform: translate(200px, 350px) !important;
  }

  .inputIcon {
    width: 350px;
    transform: translate(-70px);
  }

  .warning {
    transform: translateX(350px);
    width: 50px;
  }
}

@media (max-width: 390px) {
  .result {
    font-size: 20px;
  }

  .bar {
    transform: translate(180px, 330px);
    width: 150px;
  }
}

@media screen and (max-width: 375px) and (max-height: 812px) {
  .bar {
    transform: translate(180px, 310px) !important;
    width: 150px;
  }
}
@media screen and (max-width: 375px) and (max-height: 667px) {
  .bar {
    transform: translate(180px, 160px) !important;
    width: 150px;
  }
}

@media screen and (max-width: 360px) and (max-height: 740px) {
  .bar {
    transform: translate(180px, 230px) !important;
  }
}

@media screen and (max-width: 280px) {
  .inputIcon {
    width: 250px;
  }

  .warning {
    width: 50px;
    transform: translateX(270px);
  }

  .submit-btn {
    width: 200px;
  }

  .text {
    width: 250px;
  }

  .bar {
    transform: translate(100px, 150px) !important;
    width: 130px;
  }

  .zoom-out {
    transform: translateX(25px);
  }

  .zoom-in {
    transform: translateX(-15px);
  }
}

/* JS works */

.nav-center {
  display: none;
}

.show.nav-center {
  display: block;
}

.about-center,
.search-center {
  display: none;
}
